# Node artifact files
node_modules/
dist/

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.dll
*.tcl
*.enc
*.msg

.vscode/launch.json

.venv/
.venv-*/
venv/
build/
output*

# Zarr stores
*.zarr/

__pycache__/
*.pyc
*.pyo
.pytest_cache/
debug_*.log
.env
**/pytz/zoneinfo/
**/tzdata/
**/matplotlib/mpl-data/
**/images/
**/templates/

# Ignore the entire _internal directory (PyInstaller/bundled app files)
*_internal/
Movesense_ECG_datalogger_gui_internal/

# Ignore CSV files
*.csv

# Ignore JSON files
*.json

# Ignore sbem files
*.sbem

# Ignore edf files
*.edf

# Ignore docx files
*.docx

# Ignore pdf files
*.pdf

# Ignore jpeg files
*.jpeg
*.jpg