pyobjc-core==11.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==11.1; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==11.1; sys_platform == "darwin"
pyobjc-framework-libdispatch==11.1; sys_platform == "darwin"

winrt-runtime==3.2.1; sys_platform == "win32"
winrt-Windows.Devices.Bluetooth==3.2.1; sys_platform == "win32"
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1; sys_platform == "win32"
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1; sys_platform == "win32"
winrt-Windows.Devices.Enumeration==3.2.1; sys_platform == "win32"
winrt-Windows.Foundation==3.2.1; sys_platform == "win32"
winrt-Windows.Foundation.Collections==3.2.1; sys_platform == "win32"
winrt-Windows.Storage.Streams==3.2.1; sys_platform == "win32"

async-tkinter-loop==0.10.2
bleak==1.1.1
numpy==1.26.4
packaging==26.0
pandas==2.2.3
pillow==12.1.1
pyEDFlib==0.1.34
python-dateutil==2.9.0.post0
pytz==2026.1.post1
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.3
aiofiles==25.1.0