bleak==1.1.1
pyobjc-core==11.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==11.1; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==11.1; sys_platform == "darwin"
pyobjc-framework-libdispatch==11.1; sys_platform == "darwin"
typing_extensions==4.15.0
